extends layout

block content
  h1= title
  p Welcome to #{title}
  button(class="btn", onclick= "location.href='/single';").
    Single Elim
  button(class="btn", onclick= "location.href='/double';").
    Double Elim  
  button(class="btn", onclick= "location.href='/pools';").  
    Pools